@model IEnumerable<Produs>
@{
    ViewData["Title"] = "Home Page";
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>
    $.getJSON('https://next.json-generator.com/api/json/get/NyHYGUlqt', function (data) {
        document.getElementById("EUR").innerHTML = "EUR: " + data.EUR;
        document.getElementById("USD").innerHTML = "USD: " + data.USD;
    });
</script>


<style>
    .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 250px;
        border-radius: 5px;
        margin: 10px;
    }

        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }

    img {
        border-radius: 5px 5px 0 0;
    }

    .container {
        padding: 2px 16px;
    }
</style>



<div class="text-right">
    <div id="EUR"></div>
    <div id="USD"></div>
</div>

<div class="row">
    <form action="/Home/Index" method="post" >
        <div class="input-group rounded">
            <input type="checkbox" id="promotion" name="promotion" value="Promotie" aria-label="Search" aria-describedby="search-addon" />
            <input type="search" id="searchtext" name="searchtext" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
            <button class="btn btn-info">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </form>
</div>

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="card col-md-2">
                <img src='@item.Imagine' alt="Avatar" style="width:100%">
                <div class="container">
                    <h4><b>@item.Denumire</b></h4>
                    <div>@item.Descriere</div>
                    <p>
                        Preț - @item.Cost lei <a href="/Home/Cumpara/@item.id" class="btn btn-warning">Cumpără</a>
                    </p>
                </div>
            </div>
        }

    </div>

    <script src="https://kit.fontawesome.com/0c858ed22c.js" crossorigin="anonymous"></script>