@model MagazinCore.Models.ViewModels.UserConfirm

@{
    ViewData["Title"] = "Create";
}

<h4>Autorizare</h4>
<hr />
<div style="color:red">@ViewBag.EroareDeConectare</div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Autorizare">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nume" class="control-label"></label>
                <input asp-for="Nume" class="form-control" />
                <span asp-validation-for="Nume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Parola" class="control-label"></label>
                <input class="form-control" type="password" name="Parola" id="Parola"/>
                <span asp-validation-for="Parola" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
                <button type="button" class="btn btn-secondary" onclick="displayCreation()">Crează user</button>
            </div>
        </form>
    </div>
    <div class="col-md-4" id="createForm" style="display:none">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nume" class="control-label"></label>
                <input asp-for="Nume" class="form-control" />
                <span asp-validation-for="Nume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Parola" class="control-label"></label>
                <input class="form-control" name="Parola" id="Parola" type="password"/>
                <span asp-validation-for="Parola" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Confirmă parolă</label>
                <input class="form-control" asp-for="ConfirmPassword" type="password" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Role" class="control-label"></label>
                <select asp-for="Role" class="form-control">
                    <option value="2">Buyer</option>
                    <option value="3">Seller</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<script>
    function displayCreation() {
        document.getElementById("createForm").style.display = "block";
    }
</script>


