@model IEnumerable<MagazinCore.Models.CosElemente>

@{
    ViewData["Title"] = "Index";
}

<h1>Conținutul coșului</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Produs
            </th>
            <th>
                Cantitate
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <b>@item.Produs.Denumire </b> - @item.Produs.Descriere
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Produs.Cantitate)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<a href="/CosElementes/OrdinDeplata" class="btn btn-light">Ordin de plată</a>
<a href="/CosElementes/Achita" class="btn btn-info">Achită</a>
