@model IEnumerable<MagazinCore.Models.CosElemente>

@{
    ViewData["Title"] = "Index";
}

<h1>Ordin de plată</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Produs
            </th>
            <th>
                Cantitate
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <b>@item.Produs.Denumire </b> - @item.Produs.Descriere
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantitate)
            </td>
        </tr>
}
    </tbody>
</table>

<br>
<b>Total : </b> @ViewBag.SumaTotala lei
<hr>

<a href="/CosElementes/Achita" class="btn btn-info">Achită</a>
